<h1 class="d-flex justify-content-center">Result</h1>

<div class="text-center mt-4">
  <p class="mb-4 fs-3"><%= @message %></p>
  <%= link_to 'Play again', new_path, class: 'btn btn-primary' %>
</div>
